---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section
			class="relative h-screen bg-cover bg-center"
			style="background-image: url('./background.webp');"
		>
			<div
				class="absolute inset-0 top-16 bg-black bg-opacity-50 flex items-center justify-center"
			>
				<div class="text-center text-white">
					<h1 class="text-5xl font-bold">X-HEC Entrepreneurs</h1>
					<p class="mt-4 text-lg max-w-lg mx-auto">
						Join our vibrant community of students, alumni, and
						staff. Connect with peers, explore profiles, and network
						to build lasting relationships.
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
